*.draggable {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition: 0;
}

#slideout {
  position: absolute;
  top: 0;
  z-index: 99999;
}
#slideout #slideout_inner {
  top: 0;
}
#slideout #slideout_inner h1 {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  opacity: 1;
  line-height: 31px;
  background-color: #f17740;
  z-index: 12;
}
#slideout #slideout_inner h1 span {
  display: block;
  padding: 10px 14px 8px 12px;
  margin-left: 10px;
  background-color: #44647f;
  position: relative;
}
#slideout #slideout_inner h1:after {
  content: "";
  height: 1px;
  width: 142px;
  background-color: #ffffff;
  position: absolute;
  top: 25px;
  z-index: 12;
  right: 15px;
}
#slideout #slideout_inner ul {
  margin: 0px 0 0;
  padding: 0;
  position: relative;
}
#slideout #slideout_inner ul li {
  display: block;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 12;
}
#slideout #slideout_inner ul li:last-child a {
  padding-bottom: 25px;
}
#slideout #slideout_inner ul li:first-child a {
  padding-top: 15px;
}
#slideout #slideout_inner ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: lato;
  font-size: 30px;
  padding: 11px 10px 11px 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  background-color: #44647f;
}
#slideout #slideout_inner ul li a.active {
  background-color: #44647f;
  color: #053054;
  font-weight: 500;
}
#slideout #slideout_inner ul li.current-page-ancestor {
  display: block;
  background-color: #ec4a00;
}
#slideout #slideout_inner ul li.current-page-ancestor a {
  background-color: #44647f;
  color: #053054;
  font-weight: 500;
}
#slideout #slideout_inner ul:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  opacity: .7;
  content: "";
}

#menu-bar {
  position: fixed;
  width: 100%;
  display: none;
  height: 55px;
  background-color: #f17740;
  z-index: 999999;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#menu-bar a#menu-toggle {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  width: 34px;
  height: 28px;
  z-index: 99999;
  text-indent: -9999px;
  background-image: url("../img/menu.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1060px) {
  body {
    overflow: hidden;
    width: 100%;
  }

  body > div {
    position: relative;
  }

  body.open .page-bg,
  body.open #page-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }

  body footer,
  body #page-wrapper,
  body .page-bg,
  body .top-scroll-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  body div.page-bg {
    z-index: 100;
    -webkit-box-shadow: -2px 0 18px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -2px 0 18px rgba(0, 0, 0, 0.8);
    box-shadow: -2px 0 18px rgba(0, 0, 0, 0.8);
  }

  #page-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    position: relative;
  }

  #menu-bar {
    display: block;
  }

  a#menu-toggle {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 99999;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  a#menu-toggle.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  a#menu-toggle.close {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  #slideout {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    width: 250px;
    left: 0;
  }
  #slideout #slideout_inner {
    position: fixed;
    left: 0;
    width: 250px;
    background-color: #44647f;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #slideout.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #slideout.open #slideout_inner {
    width: 250px;
  }
}
