body {
  font-weight: 300;
}

a {
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

h1,
.site-header h1 {
  font-size: 60px;
  line-height: 54px;
  color: #fff;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 400;
}

h2,
.site-header h2 {
  font-size: 24px;
  line-height: 30px;
  color: #429ccb;
}

h3,
.site-header h3 {
  font-size: 18px;
  line-height: 24px;
  color: #053054;
  text-transform: uppercase;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 400;
}

h4,
.site-header h4 {
  font-size: 16px;
  line-height: 22px;
  color: #44647f;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 700;
}

h5,
.site-header h5 {
  font-size: 23px;
  line-height: 18px;
  color: #71b5d8;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-bg {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100%;
  min-width: 1600px;
}

.page-wrapper {
  position: relative;
  z-index: 100;
}

header#masthead {
  max-width: 1415px;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header#masthead nav#secondary {
  float: right;
  width: 250px;
  margin-top: 15px;
  margin-right: 25px;
}

header#masthead nav#secondary ul li {
  position: relative;
  display: inline;
  padding-right: 25px;
}

header#masthead nav#secondary ul li:first-child {
  margin-right: 30px;
}

header#masthead nav#secondary ul li a {
  color: #ffffff;
  font-family: lato;
  font-weight: 300;
}

header#masthead nav#secondary ul li.contact {
  background-position: 0 0;
}

header#masthead nav#secondary ul li.contact:after {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
  right: 0px;
}

header#masthead nav#secondary ul li.login {
  background-position: 0 0;
}

header#masthead nav#secondary ul li.login:after {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -19px 0;
  position: absolute;
  right: 0px;
}

header#masthead div.page-header {
  margin: 2.3em 0em 0;
  max-width: 520px;
  border: none;
  float: left;
}

header#masthead div.page-header div.tagline {
  margin-top: .8em;
  margin-right: 90px;
}

header#masthead div.page-header div.tagline p {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

header#masthead div.subnav {
  float: left;
  width: 100%;
}

header#masthead div.subnav ul li {
  margin: 4px 12px 20px 0;
  float: left;
}

header#masthead div.subnav ul li a {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 31px;
  background-color: #053054;
  color: #ffffff;
  height: 31px;
  display: block;
  padding: 0px 10px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header#masthead div.subnav ul li a:hover,
header#masthead div.subnav ul li a.active {
  background-color: #429ccb;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header#masthead div.subnav ul li.current_page_item a {
  background-color: #429ccb;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#main {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

#main span.fade-down {
  background-image: url("../img/test2.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: block;
  z-index: 99999;
  width: 440px;
  height: 40px;
  position: absolute;
  bottom: -40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main #primary {
  max-width: 2000px;
  position: relative;
}

#main #primary #content[role="content"] {
  width: 410px;
  float: left;
  padding: 0 15px;
  background-color: #ffffff;
  position: relative;
}

#main #primary #content[role="content"] article {
  margin-bottom: 0;
}

#main #primary #content[role="content"] article header.entry-header {
  padding: 1px 0 0;
  margin: 0 0 13px;
}

#main #primary #content[role="content"] article header.entry-header h2 {
  color: #f17740;
  font-family: "Roboto Slab",helvetica,arial,sans-serif;
  border-bottom: 4px solid #d7d7d9;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0 11px;
  margin-top: 3px;
}

#main #primary #content[role="content"] article div.entry-content header.content {
  margin-bottom: 15px;
}

#main #primary #content[role="content"] article div.entry-content header.content h3 {
  font-size: 18px;
  line-height: 24px;
  color: #093254;
  font-weight: 800;
  float: left;
  width: 230px;
  margin-right: 20px;
  margin-bottom: 0px;
}

#main #primary #content[role="content"] article div.entry-content header.content .featured-image img {
  float: left;
  width: 150px;
  height: 125px;
  border-bottom: 4px solid #d7d7d9;
}

#main #primary #content[role="content"] article div.entry-content p {
  margin-bottom: 10px;
}

#main #primary #content[role="content"] article div.entry-content ul.team {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main #primary #content[role="content"] article div.entry-content ul.team li {
  margin: 0 0 10px;
  cursor: pointer;
  padding: 0;
}

#main #primary #content[role="content"] article div.entry-content ul.team li div.photo {
  width: 82px;
  height: 80px;
  margin-left: 3px;
  margin-top: 0px;
  float: left;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid #d7d7d9;
  overflow: hidden;
}

#main #primary #content[role="content"] article div.entry-content ul.team li div.photo img {
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

#main #primary #content[role="content"] article div.entry-content ul.team li div.name {
  float: left;
  width: 290px;
  margin-left: 20px;
}

#main #primary #content[role="content"] article div.entry-content ul.team li div.name h4 {
  font-family: lato;
  font-weight: 900;
  color: #f17740;
  font-size: 21px;
  margin-top: 15px;
}

#main #primary #content[role="content"] article div.entry-content ul.team li div.name h5 {
  color: #777777;
  font-family: lato;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}

#main #primary #content[role="content"] article div.entry-content ul.team li:hover div.photo,
#main #primary #content[role="content"] article div.entry-content ul.team li.active div.photo {
  border-color: #f17740;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

ul.member-bgs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

ul.member-bgs li {
  position: absolute;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center -100px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100%;
  min-width: 1600px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

ul.member-bgs li.active {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#sidebar {
  width: 248px;
  float: left;
  overflow: hidden;
  margin-left: 15px;
  position: absolute;
  bottom: 0;
  left: 440px;
  top: 0;
}

#sidebar div.meet {
  position: relative;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out .4s;
  transition: all .3s ease-in-out .4s;
  z-index: 99999;
}

#sidebar div.meet.active {
  opacity: 1;
}

#sidebar div.meet h5 {
  font-size: 24px;
  font-family: lato;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#sidebar div.meet span {
  width: 42px;
  height: 46px;
  display: block;
  position: absolute;
  right: 5px;
  top: 9px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#sidebar span.numbers {
  background-image: url("../img/numbers.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  display: block;
  height: 48px;
  margin-bottom: -5px;
  position: relative;
  z-index: 999;
}

#sidebar span.more {
  width: 232px;
  height: 112px;
  background-image: url("../img/member-more.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#sidebar span.more.hidden {
  opacity: 0;
}

#sidebar ul.bonus {
  width: 248px;
}

#sidebar ul.bonus li {
  background-color: #ffffff;
  width: 248px;
  height: 112px;
  padding: 1px 0 0;
  margin-bottom: 8px;
}

#sidebar ul.bonus li:last-child {
  margin-bottom: 0;
}

#sidebar ul.bonus li span {
  background-color: #d7d7d9;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 40px;
  margin: 15px 15px;
}

#sidebar ul.facts {
  width: 248px;
  position: absolute;
  top: 40px;
  opacity: 0;
  left: -250px;
  -webkit-transition: all .35s ease-in-out .5s;
  transition: all .35s ease-in-out .5s;
}

#sidebar ul.facts.active {
  left: 0;
  opacity: 1;
}

#sidebar ul.facts li {
  background-color: #ffffff;
  width: 218px;
  height: 92px;
  padding: 10px 15px;
  margin-bottom: 8px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#sidebar ul.facts li:last-child {
  margin-bottom: 0;
}

#sidebar ul.facts li p {
  color: #44647f;
  font-size: 14px;
}

#sidebar ul.facts li span {
  background-color: #d7d7d9;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 40px;
  margin: 15px 15px;
}

#sidebar.numbers {
  margin-left: 27px;
}

#sidebar.numbers ul li {
  margin-bottom: 14px;
}

.top-scroll-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 1415px;
  position: relative;
  margin: 0 auto;
}

.top-scroll-wrap .top-scroll {
  position: relative;
  overflow: auto;
  width: 100%;
  padding: 0 15px;
}

.top-scroll-wrap span.fade {
  background-image: url("../img/test.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: block;
  z-index: 99999;
  width: 440px;
  left: 15px;
  height: 60px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.top-scroll-wrap span.fade.hidden {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 0 0px;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer div.inner {
  max-width: 1385px;
  margin: 0 auto 10px;
  padding: 0 15px;
}

footer div.inner div.logo-holder {
  float: left;
  width: 195px;
}

footer div.inner div.logo-holder a.logo {
  width: 195px;
  height: 58px;
  padding-bottom: 2px;
  background-color: #ffffff;
  background-image: url("../img/footer-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

footer div.inner nav#footer-navigation {
  position: relative;
  width: -webkit-calc(100% - 200px);
  width: -o-calc(100% - 200px);
  width: calc(100% - 200px);
  max-width: 1150px;
  float: left;
  margin-left: 5px;
}

footer div.inner nav#footer-navigation div.menu-main-menu-container ul.nav-menu li {
  padding: 0;
}

footer div.inner nav#footer-navigation div.menu-main-menu-container ul.nav-menu li a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
  border-bottom: none;
  text-transform: uppercase;
  font-family: lato;
  font-weight: 300;
  display: block;
  background-color: rgba(236,74,0,0.5);
  margin: 0 5px;
  text-align: center;
  padding: 0;
  line-height: 50px;
  height: 50px;
}

footer div.inner nav#footer-navigation div.menu-main-menu-container ul.nav-menu li a:hover {
  background-color: #ec4a00;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer div.inner nav#footer-navigation div.menu-main-menu-container ul.nav-menu li.current_page_item a {
  background-color: #ec4a00;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer div.footer-panel {
  background-color: #fff;
  min-height: 10px;
  float: left;
  width: 100%;
}